<div class="col">
    <h2>Table</h2>
    <p class="text-muted">Instructions: Please use the filter knobs to adjust what sort of data you want to see. By
        default everything is displayed. In order to get the latest data, please refresh in the upper right-hand corner.
        <span style="color: transparent;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi enim voluptatem
            repellat doloribus consectetur, distinctio non voluptas voluptatum. Exercitationem aliquam beatae ad culpa
            quae debitis reiciendis animi deserunt quia officiis?</span>
    </p>
</div>
<div class="col">
    <app-utility-filter></app-utility-filter>
</div>
<div class="col">
    <app-utility-table [rows]="rows" [columns]="columns"></app-utility-table>
</div>